@font-face {
  font-family: Karla;
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 2em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(204, 43%, 93%);
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
}